Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
'''there are two types of comments used in python.
1st is single line comment in which we use # for commenting
2nd is multiline comment in which we use'''

SyntaxError: invalid decimal literal (1875819178.py, line 2)

What are variables in Python? How do you declare and assign values to variables?

In [2]:
variable is n nothing but memory in which we store values
for ex :

SyntaxError: invalid syntax (846274271.py, line 1)

In [3]:
var1 = 1,2,3

In [4]:
var1

(1, 2, 3)

How do you convert one data type to another in Python?

How do you write and execute a Python script from the command line?

ValueError: invalid literal for int() with base 10: 'mumbai'

Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [9]:
my_list = [1, 2, 3, 4, 5]

In [10]:
my_list[1:3]

[2, 3]

What is a complex number in mathematics, and how is it represented in Python?

In [11]:
y = 1+2y
here 1 is real part, 2y is imaginary

SyntaxError: invalid decimal literal (3858281552.py, line 1)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [12]:
age = 25

In [13]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [14]:
price = 9.99 #float

In [15]:
price

9.99

In [16]:
type(price)

float

Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [17]:
name = "utkarsh shrikhande"

In [18]:
name

'utkarsh shrikhande'

Given the string "Hello, World!", extract the substring "World".

In [22]:
str = "Hello, World"

In [25]:
str[6:12]

' World'

Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [26]:
is_student = True
is_student2 = False

In [27]:
is_student

True

In [28]:
is_student2

False